classifier/Dataset_new
classifier/Dataset
classifier/create_csv.py
classifier/Load.ipynb
classifier/reformed.csv
classifier/temp.ipynb
classifier/classifier_weights.h5

detector/val
detector/test
detector/train
detector/Dataset_old
detector/Dataset_new
detector/labels_new
detector/create_csv.py
detector/data.yaml
detector/main.ipynb
detector/new_test.py
detector/newnew.csv
detector/test.jpeg
detector/test.py

segmentator/Dataset_old
segmentator/test
segmentator/val
segmentator/train
segmentator/create_csv.py
segmentator/newnew.csv
segmentator/data.yaml
segmentator/new.png
segmentator/test.jpeg
segmentator/python.py
segmentator/new_test.py
segmentator/output_image.jpeg

*reformed.csv
detector/labels
segmentator/labels
*__pycache__*
Pipfile
out/*
.vscode/*
